{% extends "network/layout.html" %}

{% block body %}
    <div class="row">

        <div class="col-lg-6">

            <div class="circular--landscape">
                {% if not profile_user.avatar %}
                    <img src="/images/default-user-image.png" style="margin-left: 0">
                {% else %}
                    <img src="/{{ profile_user.avatar }}">
                {% endif %}
                
            </div>
            <br>
            {% if profile_user.bio %}
                <p style="text-align: center"><strong>{{profile_user.bio}}</strong></p> 
            {% endif %}
        </div>
        
        <div class="col-lg-6">
            <h3>{{ profile_user.username }}</h3>
            <strong>Email address:</strong> {{ profile_user.email }}
            <br>
            <strong>Joined: </strong> {{ profile_user.date_joined.date }}
            <br>
            {% if profile_user.nationality %}
                <strong>Nationality: {{ profile_user.nationality }}</strong>
                <br>
            {% endif %}
            <strong>Followers: {{ profile_user.followers.count }}</strong>
            <br>
            <strong>Following: {{ profile_user.following.count }}</strong>
            <br>
            {% if user.is_authenticated %}
            {% if user.username != profile_user.username %}
                {% if user in profile_user.followers.all %}
                    <form action="{% url 'follow_toggle' profile_user.username %}" method="POST">
                        {% csrf_token %}
                        <button class="btn-sm btn-primary">Unfollow</button>
                    </form>
                {% else %}
                    <form action="{% url 'follow_toggle' profile_user.username %}" method="POST">
                        {% csrf_token %}
                        <button class="btn-sm btn-primary">Follow</button>
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}

        </div>
    </div>
    




    <hr class="hr_light" id="hr">
    {% if not page_obj %}
        <strong style="font-size: 1.5rem">No posts yet.</strong>
    {% else %}
        <strong style="font-size: 1.5rem">Posts</strong>
        <br>
        <br>
        
        {% for post in page_obj %}
        <div class="eachpost" id="post_box">
            <div class="row">
                <div class="col-lg-11">
                    <h5><a class="link_light link_class" href="{% url 'profile' post.creator %}">{{ post.creator }}</a></h5>
                    <div id="{{post.id}}">
                        <p style="white-space: pre-wrap;">{{ post.post }}</p>
                        <strong>{{ post.likes_count }} likes</strong>
                    </div>
                    {% if user.is_authenticated %}
                        {% if post.id in posts_lbtcu_id %}
                            <span data-post_id="{{post.id}}" class="like_button"><i id="heart_btn" data-post_id="{{post.id}}" class="fa fa-heart" style="font-size:16px; color:rgb(255, 9, 9)"></i></span>
                        {% else %}
                            <span data-post_id="{{post.id}}" class="like_button"><i id="heart_btn" data-post_id="{{post.id}}" class="fa fa-heart-o" style="font-size:16px; color:rgb(255, 9, 9)"></i></span>
                        {% endif %}
                    <br>
                    {% endif %}
                    Posted: {{ post.created }}
                    <br>
                        <a class="link_light small_link link_class" href="{% url 'comments' post.id %}">Comments</a>
                    <br>
                </div>

                <div class="col-lg-1">
                    {% if post.creator == user.username %}
                        <button class="btn btn-light edit_button" id="edit_button_id" data-post_id="{{post.id}}">Edit</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
        {% endfor %}

        <div id="edit_post" class="edit_post edit_box_light">
            <span><strong style="float: left; padding-left: 1%; padding-top: 1%">Edit this post</strong> <div style="padding-right: 1%; padding-top: 1%"><button id="cancel_edit_id" class="btn btn-light cancel_edit" style="float: right;">x</button></div></span>
            <br>
            <br>
            <textarea style="height: 64%; width: 98%; padding: 0.5%" id="textarea_edit" class="textarea_light" required></textarea>
            <br>
            <button id="save_edit_id" style="width: 98%;" id="save_edit" class="btn btn-primary save_edit">Save</button>
        </div>        
        
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link pagination_light" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link pagination_light" href="?page={{page_obj.previous_page_number}}">{{ page_obj.previous_page_number }}</a></li>
                {% endif %}
                    <li class="page-item"><a class="page-link pagination_light" href="?page={{page_obj.number}}">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link pagination_light" href="?page={{page_obj.next_page_number}}">{{ page_obj.next_page_number }}</a></li>
                {% endif %}
                {% if page_obj.has_next%}
                    <li class="page-item">
                        <a class="page-link pagination_light" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    {% endif %}
    
{% endblock %}