.body{
    padding: 1rem;
}

.center{
    text-align: center;
}

.eachpost{
    background-color:white;
    padding: 0.5rem;
    border-radius: 10px;
}

.container{
    background-color: rgb(206, 216, 226);
}