.body{
    padding: 1rem;
}

.center{
    text-align: center;
}

.eachpost{
    background-color:white;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(154, 154, 164);
}

.container{
    background-color: rgb(206, 216, 226);
}

.dark-mode{
    color: white;
    background-color: rgb(24, 22, 22);
}

.eachpost-dark-mode{
    background-color: rgba(52,58,64,255);
    padding: 0.5rem;
    border-radius: 10px;
}

.edit_post{
    background-color: grey;
    display: none;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 300px;
    background-color:white;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(154, 154, 164);
    text-align: center;
}

.edit_post_clicked{
    background-color: grey;
    display: block;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 300px;
    background-color:white;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(154, 154, 164);
    text-align: center;
}

.textarea_light{
    height: 80px; 
    width: 100%;
    resize: none;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 2px 2px rgb(154, 154, 164);
}

.textarea_dark{
    height: 80px; 
    width: 100%;
    resize: none;
    border-radius: 10px;
    color: white;
    background-color: rgba(52,58,64,255);
    border: none;
}

.nav_style{
    border-radius: 10px;
}

.link_light{
    color: black;
    font-weight: 600;
}

.small_link{
    font-size: .9rem;
}

.link_light:hover {
    color: black;
}

.link_dark{
    color: white;
}

.link_dark:hover {
    color: white;
}

.hr_light{
    border-top: 3px solid black;
}

.hr_dark{
    border-top: 3px solid white;
}

.cross-button{
    border-radius: 5px;
    height: 20px;
    width: 20px;
}

/* .like_button{
    font-size: 16px;
    padding: 0;
    border: none;
    background: none;
}
.like_button:active{
    font-size: 16px;
    padding: 0;
    border: none;
    background: none;
} */

.post_options_btn{
    float: right;
    border-radius: 50%;
    justify-content: center;
}



